core-bc/composites/schema/src/main/wsdl/blocking/core_components/accesscontrol/ehr_blockingaccesscontrol_3.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->	
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
	xmlns:tns='urn:riv:ehr:blocking:accesscontrol:3'
	targetNamespace='urn:riv:ehr:blocking:accesscontrol:3'
	elementFormDefault='qualified'
	attributeFormDefault='unqualified' 
	version='3.0'>

	<xs:annotation>
	    <xs:documentation xml:lang='sv'>
	    </xs:documentation>
	</xs:annotation>





	<xs:simpleType name="ResultCodeType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Enumerationsvärde som anger de svarskoder som finns.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Transaktionen har utförts enligt uppdraget.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VALIDATIONERROR">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACCESSDENIED">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Behörighet saknas för att utföra begärd tjänst. Angiven tjänst utfördes ej.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOTFOUND">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Angiven artifakt finns ej. Angiven tjänst utfördes ej.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ALREADYEXISTS">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Angiven artifakt finns redan. Angiven tjänst utfördes ej.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INVALIDSTATE">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Angiven tjänst utfördes ej då tjänsten eller artifakten var i ett felaktigt tillstånd.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CheckStatusType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Enumerationsvärde som anger de svarskoder som finns.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Information är ej spärrad.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLOCKED">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        Informationen är spärrad.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VALIDATIONERROR">
				<xs:annotation>
				    <xs:documentation xml:lang='sv'>
				        En eller flera inparametrar innehåller felaktiga värden. Kontroll av spärr utfördes ej för denna informationsresurs.
				    </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="HsaId">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar det unika nummer som identifierar en anställd, uppdragstagare, strukturenhet eller en HCC funktion (HSA-id).
		        Specificerat enligt HSA-schema tjänsteträdet version 3.9.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="PersonIdValue">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar ett personnummer, samordningsnummer eller ett reservnummer.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="InformationTypeIdValue">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som används för att ange informationstyper.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="InformationTypeDescription">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som används för att ange en beskrivning på en informationstyp.
		    </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="ResultType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc. 
		        En tjänstekonsument skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om anropet lyckades. 
		        Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResultCode" type="tns:ResultCodeType"/>
			<xs:element name="ResultText" type="xs:string"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AccessingActorType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som identifierar en medarbetare/person som vill ha åtkomst till specifik information.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployeeId" type="tns:HsaId"/>
			<xs:element name="CareProviderId" type="tns:HsaId"/>
			<xs:element name="CareUnitId" type="tns:HsaId"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InformationEntityType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatypen representerar en patientuppgift som önskas kontrolleras mot patientens spärrar. Om informationstyp anges tar tjänsten hänsyn till om det finns undantag satta i spärren för den informationstypen.
		        Informationstypen anges i fältet informationType.    
		        En patientuppgift har ett start- och slutdatum (inklusivedatum) som specificerar att händelsen/informationen ägt rum/existerar under en viss period. Detta används för att kunna styra åtkomst till information för en viss tidsperiod.
		        Start- och slutdatum anges i fälten informationStartDate och informationEndDate.
		        En patientuppgift ägs/utfördes av en vårdgivare som anges i fältet informationCareProviderId.
		        En patientuppgift ägs/utfördes av en vårdenhet som anges i fältet informationCareUnitId.
		        Giltiga värden för informationstyp som kan undantas från spärr är:
		        Typ		Beskrivning
		        lak		Läkemedel - Ordination/förskrivning
		        upp		Uppmärksamhetsinformation (fd. uppmärksamhetssignal)
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InformationStartDate" type="xs:dateTime"/>
			<xs:element name="InformationEndDate" type="xs:dateTime"/>
			<xs:element name="InformationCareUnitId" type="tns:HsaId"/>
			<xs:element name="InformationCareProviderId" type="tns:HsaId"/>
			<xs:element name="InformationType" type="tns:InformationTypeIdValue" minOccurs="0"/>
			<xs:element name="RowNumber" type="xs:int"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CheckResultType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som representerar ett svar från kontrollen av åtkomst till information.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="tns:CheckStatusType"/>
			<xs:element name="RowNumber" type="xs:int"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CheckBlocksResultType">
		<xs:annotation>
		    <xs:documentation xml:lang='sv'>
		        Datatyp som innehåller resultatet från tjänsten CheckBlocks.
		        Datatypen utökar datatypen Result.
		    </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Result" type="tns:ResultType"/>
			<xs:element name="CheckResults" type="tns:CheckResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
